<div class="row">
  <div class="col-sm-12">
    <%= render 'table_fixed_cost' %>
  </div>
</div>
<%= link_to t('edit'), edit_fixed_cost_path(@fixed_cost) %> </br>
<%= link_to t('back'), fixed_costs_path() %>