<div class="row">
	<div class="col-sm-6">
		<%= render 'form' %>
	</div>
	<div class="col-sm-6">	
		<%= render 'table_ingredients' %>
		<%= render 'form_ingredients' %>
	</div>
</div>
<%= link_to t('back'), product_path(@product) %>